@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('img/theme.jpg');
    background-size: cover;
    background-position: center; 
}
h1{
    margin: 20px 0px 20px 0px;
    font-size: 75px;
    color: white;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: slategray;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;

}

.btn{
    background-color: lightslategray;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}

.content{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}
h3{
    color: lightslategray;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form{
    width: 380px;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 61%;
    padding: 14px 130px 14px 15px;
    border: 2px solid lightslategray;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    background: lightslategray;
    position: absolute;
    display: inline;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    top: 6px;
    right: 6px;
}
 /* about */

 .about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
 }

 .about.main img{
    height: auto;
    width: 430px;
 }
 .about-text{
    width: 550px;
 }
 .about-text p{
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
 }

 .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 .about-text h2{
    color: white;
    font-size: 75px;
 }
 .about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
 }
button{
    background-color: slategray;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

/* h5{
    color: white;
} */
 /* about ends */


 /* our service section */

 .service{
    background: #191919;
    width: 100%;
    padding: 100px 0px
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 3px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    text-align: center;

}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: slategray;

}
h5{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 20px;
}

.card .button{
    background-color: slategray;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.desc p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

/* contact */

.comtact-me{
    width: 100%;
    height: 200px;
    background-color: #191919;
    margin: 0 auto;
    text-align: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact-me .button-two{
    background-color: slategray;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

/* contact me  */
.contact-me {
    width: 100%;
    height: 200px;
    background-color: #191919;
    margin: 0 auto;
    text-align: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 400px;
    background: #101010;
}

footer p:first-child {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    font-size: 17px;
    width: 500px;
    text-align: center;
    list-style: 26px;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: blue;

}




@media (max-width: 576px){
nav ul{
    display: none;
}
.content{
   color: white;
}
h1{
    font-size: 30px;
}
.newsletter form {
    width: 380px;
    position: relative;
    max-width: 100%;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 40%;
    padding: 14px 130px 14px 15px;
    border: 2px solid lightslategray;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child {
    background: lightslategray;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    top: 6px;
    right: 85px;
}
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}


.about .main img {
    margin-left: 90px;
    border-radius: 150px;
    /* height: auto;
    width: 430px; */

}

.about-text {
    width: 100%;
    padding: 1px 21px;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
}

.main {
    max-width: 95%;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.about-text h5 {
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.title h2 {
    color: white;
    font-size: 42px;
    width: 100%;
    margin: 3px auto;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;

}
.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}

.contact-me .button-two {
    background-color: slategray;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}
.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 0;
    margin: 15px;
    text-align: center;

}
ooter p:first-child {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

}

@media (max-width: 850px){
    nav ul{
        display: none;
    }

    .content {
        color: white;
    }

    h1 {
        font-size: 20px;
    }

    .newsletter form {
        width: 0px;
        position: relative;
        max-width: 100%;
    }

    .newsletter form input:first-child {
        display: inline-block;
        width: 150%;
        padding: 14px 130px 14px 15px;
        border: 2px solid lightslategray;
        outline: none;
        border-radius: 30px;
    }

    .newsletter form input:last-child {
        background: lightslategray;
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 150px 30px;
        border-radius: 30px;
        color: white;
        top: 6px;
        right: 85px;
    }

    .about {
        width: 100%;
        padding: 100px 0px;
        background-color: #191919;
    }


    .about .main img {
      
        margin-left: 130px;
        border-radius: 150px;
        height: auto;
        width: 430px;

    }

    .about-text {
        width: 100%;
        padding: 1px 21px;
    }

    .about-text p {
        color: white;
        letter-spacing: 1px;
        font-size: 18px;
        margin-bottom: 45px;
    }

    .main {
        max-width:95%;
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: space-around;
    }

    .about-text h2 {
        text-align: center;
        color: white;
        font-size: 30px;
    }

    .about-text h5 {
        text-align: center;
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }

    .title h2 {
        color: white;
        font-size: 42px;
        width: 100%;
        margin: 3px auto;
        text-align: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;

    }

    .contact-me p {
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;

    }

    .contact-me .button-two {
        background-color: slategray;
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
    }

    .card {
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background-color: #191919;
        border-radius: 0;
        margin: 15px;
        text-align: center;

    }

    ooter p:first-child {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
}
